@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800&display=swap");

body {
  @apply bg-gradient-to-b from-[#0a0f1c] to-[#01030b] text-gray-200 font-['Orbitron'];
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 25px #00e0ff60, 0 0 50px #ff00e660;
  }
  50% {
    box-shadow: 0 0 35px #00e0ff90, 0 0 70px #ff00e690;
  }
}

.bot-grid {
  animation: glowPulse 5s infinite alternate;
}
